@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.hidden {
  display: none;
}

body {
  font-family: 'Silkscreen', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}
